.btn {
  background-color: blue;
  color: white;
  width: 120px;
  font-size: 20px;
  height: 50px;
  margin-right: 25px;
  position: relative;
}

.openClose {
  background-color: rgb(243,217,79);
  color: black;
  font-weight: 600;
  width: 120px;
  font-size: 20px;
  height: 50px;
  margin-right: 25px;
  margin-top: 10px;
}